.hand {
  --card-width: min(30vw, 160px);
  position: fixed;
  bottom: calc(-0.75 * var(--card-width));
  width: 100%;
  display: grid;
  justify-content: center;
}

.card {
  grid-area: 1 / 1 / 2 / 2;
  width: var(--card-width);
  transform-origin: center;
  transition: transform 1s;

  --rotation: calc(var(--i) * 3deg);
  --translationX: calc(var(--i) * 15%);
  --slideTranslationX: calc((var(--i) + 2) * 15%);
  --slideTranslationY: calc(-1 * 25%);
  transform: translateX(var(--translationX)) rotate(var(--rotation));

  &:hover {
    transform: translateX(var(--translationX)) rotate(var(--rotation)) translateY(var(--slideTranslationY));

    &~.card {
      transform: translateX(var(--slideTranslationX)) rotate(var(--rotation));
    }
  }
}