.board {
  margin: auto;
  max-height: max(85vh, 600px);
  aspect-ratio: 0.714;
  padding: 0.5%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 0.5%;
}

.placeholder {
  position: relative;
}

.chip {
  position: absolute;
  left: 50%;
  top: 50%;
  width: min(60%, 5rem);
  transform: translateX(-50%) translateY(-50%);
}